<div id="accueil" th:fragment="content">
	<div id="hello" class="container"
		th:style="'background:url(' + @{/imgs/contact-bluewin.jpg} + ') center center; background-size:cover;'">

		<div class="row">

			<form id="rechercheForm" autocomplete="on" class="col" >

				<div class="container">

					<div class="row">

						<div class="col col-lg-3">
							<div class="input-group mb-3">								
								<div class="dropdown">
								  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    Nom
								  </button>
								  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
								  <div  class="input-group mb-0" th:each="item : ${listePersonne}" >
								  	<div class="input-group-prepend" style="margin-left: 10px;argin-bottom: 2rem !important">
								    <input class="dropdown-item"  type="checkbox" name="isPresent" value="false" />
								    </div>
								    <label th:text="${item.prenom}+' '+${item.nom}" style="margin-left: 10px;"/>
								  </div>
								  </div>
								</div>
								
								<input id="inputnom" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></input>
							</div>
						</div>

						<div class="col col-lg-3">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default">Lieu</span>
								</div>
								<input id="inputlieu" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
							</div>
						</div>

						<div class="col col-lg-3">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default">Ev&eacute;nement</span>
								</div>
								<input id="inputevenement" type="text" class="form-control"	aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
							</div>
						</div>

					</div>
				</div>

				<input type="submit" />

			</form>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1>Photo</h1>
				<h2>Mes photos</h2>
			</div>
		</div>
	</div>

	 
	<div id="presentation" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<img th:src="@{/imgs/iphone.png}" title="Smartphone" />
			</div>

			<div cass="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<h3>Qu'est-ce que Photo ?</h3>
				<p>Recherche photos</p>
			</div>
		</div>
	</div>	

	<div id="contact" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3>
					<a th:href="@{/contactez-nous}" title="Contactez-nous">Contactez-nous</a>
					<a th:href="@{/contactez-nous}" title="Contactez-nous"> <span
						class="glyphicon glyphicon-envelope"></span>
					</a>
				</h3>

			</div>
		</div>
	</div>
	
</div>

<script th:fragment="javascript">
		$(function() {		   
			$("#inputnom").autocomplete({
				source:"AutocompleteNom",
				minLength:1
			});
			
			$("#inputlieu").autocomplete({
				source:"AutocompleteLieu",
				minLength:1
			});
						
			$("#inputevenement").autocomplete({
				source:"AutocompleteEvenement",
				minLength:1
			});
			
		});
		
</script>


